@{
    ViewBag.Title = "微信调用相机-Mangoeasy";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@Scripts.Render("~/bundles/Photo")

<p class="text-center" data-bind="visible:!viewModel.PageReady">Loading...</p>
<div data-bind="visible:viewModel.PageReady">
    <a class="btn btn-success col-xs-12" data-bind="click:viewModel.Action" href="#">拍照或选择照片</a>
    <div class="text-center" style="padding-top: 30px; padding-bottom: 30px">
        <img src="/Content/Images/logo.png">
    </div>
    <h1 class=" font-alt text-center">Mango-E Studio</h1>
    <p class="text-center hs-line-6">@Html.Raw("Let's Marketing @ Next Great Online Easy")</p>
</div>
<div class="modal fade" id="resultmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">照片</h4>
            </div>
            <div class="modal-body text-center">
                <div class="row" data-bind="foreach:viewModel.ImgUrls">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img data-bind="attr:{src:$data}" alt="" />
                           
                        </div>
                        <div class="caption">
                            <p class="text-center" style="word-break:break-all; word-wrap:break-word;" data-bind="text:'Id'+ $data"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:viewModel.Upload">上传</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->