@{
    ViewBag.Title = "微信录音-Mangoeasy";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@Scripts.Render("~/bundles/Record")
<p class="text-center" data-bind="visible:viewModel.PageReady()==false">Loading...</p>
<div data-bind="visible:viewModel.PageReady">
    <a class="btn btn-success col-xs-12" data-bind="click:viewModel.StartRecord,visible:viewModel.StartState()==false" href="#">开始录音</a>
    <a class="btn btn-danger col-xs-12" data-bind="click:viewModel.StopRecord,visible:viewModel.StartState" href="#">停止录音</a>
    <div class="text-center" style="padding-top: 30px; padding-bottom: 30px">
        <img src="/Content/Images/logo.png">
    </div>
    <h1 class=" font-alt text-center">Mango-E Studio</h1>
    <p class="text-center hs-line-6">@Html.Raw("Let's Marketing @ Next Great Online Easy")</p>
</div>
<div class="modal fade" id="resultmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">音频文件</h4>
            </div>
            <div class="modal-body text-center">
                <a class="btn btn-success" data-bind="visible:viewModel.PlayState()==false,click:viewModel.PlayVoice" href="#">播放录音</a>
                <a class="btn btn-danger" data-bind="visible:viewModel.PlayState,click:viewModel.PauseVoice" href="#">暂停</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
