body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.font-alt {
    font-family: Dosis,arial,sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 10px;
}
.hs-line-6 {
    font-family: "Open Sans",arial,sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    opacity: 0.35;
    position: relative;
}