@{
    ViewBag.Title = "ScanQRCode";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@Scripts.Render("~/bundles/ScanQrCode")

<div class="row">
    <div class="text-center">
        <a class="btn btn-primary" data-bind="click:viewModel.Scan" href="#">点击开启扫描</a>
    </div>
</div>